<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bueno profe, esta es mi página :/</h1>
    <p>Disculpe, hice lo que pude...</p>
    <img src="/images/imagen.jpeg" alt="Imagen de ejemplo" />
  </body>
</html>
